
          <div class="collapse" id="education">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/pratt.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  Masters of Fine Art - Computer Graphics. Pratt Institute.<br>
                  (Multimedia, UI/UX and web development)
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/nyit.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  Graduated Magna Cum Laude from New York Institute of Technology with a BFA in Computers Graphics.
                </div>
              </div>
            </div>
          </div>
